html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

form {
  max-width: 800;
  margin: 1rem auto;
}

.grow {
  flex-grow: 1;
}

.main {
  min-height: '80vh'
}

.section {
  margin-top: 10px;
  margin-bottom: 10px;
}

.wizard {
  margin: 1rem;
}

.transparent-background {
  background-color: 'transparent';
}

.error {
  color: #f04040;
}



