.Layout footer {
  text-align: center;
}

.Layout .main-link {
  font-weight: 600;
  font-size: 1.5rem;
}

.Layout .grow {
  width: 65%;
}

.Layout .links {
  display: flex;
}

.Layout .navbarButton {
  color: #ffffff;
  text-transform: initial;
}
